{% extends 'base.html' %}
{% block content %}
<div class="form login_form">
  <form action="#" method="post">
      {% csrf_token %}
      <h2>Login</h2>

      <div class="input_box">
        <input type="text" placeholder="Enter your username" name='username' required />
        <i class="uil uil-envelope-alt email"></i>
      </div>
      <div class="input_box">
        <input type="password" placeholder="Enter your password" name="password" required />
        <i class="uil uil-lock password"></i>
        <i class="uil uil-eye-slash pw_hide"></i>
      </div>

      <div class="option_field">
        <span class="checkbox">
          <input type="checkbox" id="check" />
          <label for="check">Remember me</label>
        </span>
        <a href="#" class="forgot_pw">Forgot password?</a>
      </div>

      <button class="button">Login Now</button>

      <div class="login_signup">Don't have an account? <a href="/signup" id="signup">Signup</a></div>
    </form>
  </div>
{% endblock content %}

