{% extends 'base.html' %}
{% block content %}

<!-- Coding By CodingNepal - codingnepalweb.com -->


    <!-- Home -->
  
        <!-- Login From -->
        

        <!-- Signup From -->
        <div class="form signup_form">
          <form action="#" method="post">
            {% csrf_token %}
            <h2>Signup</h2>

            <div class="input_box">
              <input type="name" placeholder="Enter your email" name="email" required />
              <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
              <input type="email" placeholder="Create password" name="pass1" required />
              <i class="uil uil-lock password"></i>
              <i class="uil uil-eye-slash pw_hide"></i>
            </div>
            <div class="input_box">
              <input type="password" placeholder="Confirm password" name="pass2" 
               required />
               <i class="uil uil-lock password"></i>
               <i class="uil uil-eye-slash pw_hide"></i>
              </div>
              
              <button class="button">Signup Now </button>
              
              <div class="login_signup">Already have an account? <a href="/login" id="login">Login</a></div>
            </form>
        </div>
  

        
{% endblock content %}